<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <div class="searchcontainer" [formGroup]="searchForms">
    <input type="search" placeholder="Enter to search" formControlName="city">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" (click)="searchweather()">search</button>
   </div>
  <div class="container"  *ngIf="weather">
    
    <div class="upperside">
   <div class="half">
      <img src="../assets/sweather.jpg"  *ngIf="weather.temp <=15">
     <img src="../assets/hot.jpg" *ngIf=" weather.temp > 15">
  </div>
    </div>
    <div class="space">
        <h3 style="text-align: center;">Temperature : {{weather.Main.temp | number:'1.0-0'}}°C </h3>
        <div class="min">
          <img src="../assets/low-temperature.png" class="minimum">
          <div class="mindetails">{{weather.Main.temp_min | number:'1.0-0'}}°C</div>
         </div>
         <div class="max">
          <img src="../assets/high-temperature.png" class="max">
          <div class="maxdetails">{{weather.Main.temp_max | number:'1.0-0'}}°C</div>
         </div>
         <br>
         <br>
         <br>
         <br>
         <div class="humidity">
          <img src="../assets/humidity.png">
          <div class="humdetails">{{weather.Main.humidity | number:'1.0-0'}}°C</div>
         </div>
         <div class="wind">
          <img src="../assets/wind.png">
          <div class="winddetails">{{weather.Wind.speed | number:'1.0-0'}}°C</div>
         </div>
    </div>
    <br>
    
  
  </div>  
</body>
</html>
